*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    border: 0;
}

.padre{
    background-image: url(imagen/netflix.png);
    height: 100vh;  /* Ocupa toda la pantalla */
    background-size: cover;  /* Para que cubra todo el espacio */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que se repita */
    overflow: hidden;
}

h1{
    color: rgb(80, 180, 142);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.sinopsis{
    margin-top: 20%;
}